<nav class='navbar navbar-inverse navbar-fixed-top'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='index.html'><h1>eh anime ? <!--img src='images/logo.png' alt='' /--></h1><p>watch anime while being zerod</p></a>
    </div>
    <div id='navbar' class='navbar-collapse collapse'>
  <div class='top-search'>
    <form class='navbar-form navbar-right' action='search.html' method='get'>
      <input type='text' class='form-control' name='search' id='search' placeholder='Search...'>
      <input type='submit' value=' '>
    </form>
  </div>
  <div class='header-top-right'>
    <div class='clearfix'> </div>
  </div>
</nav>

<div class='main'>
  <div class='show-top-grids'>
    <div class='main-grids about-main-grids'>
      <div class='recommended-info'>
        <h3>About eh anime ?</h3>
        <p class='history-text'>'eh anime ?' is kinda first test project in
          zeronet developed by lava or by long name lava phox. the idea is
          to try out video streaming in zeronet using WebTorrent and
          of course WebRTC. soooo littlebit history also: first uploaded
          animes were animes i used to watch while creating dat thingy.
          this project got started from january 2 2019.
        </p>
        <div class='about-grids'>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <script exec='true'>
    page.loadHtml('footer', '.main');
  </script>
  <!-- //footer -->
</div>
<div class='clearfix'> </div>
