<div class='footer'>
  <div class='footer-grids'>
    <div class='footer-top'>
      <div class='footer-top-nav'>
        <ul>
          <li><a href='about.html'>About</a></li>
        </ul>
      </div>
      <div class='footer-bottom-nav'>
        <ul>
          <!--li><a href='terms.html'>Terms</a></li-->
        </ul>
      </div>
    </div>
    <div class='footer-bottom'>
      <ul>
        <li>
          <div class='copyright'>
            <p>Only Design Copyright © 2015 My Play. All Rights Reserved | Design by <a href='http://w3layouts.com/'>W3layouts</a> | everything else follows BSD 2-clause 'Simplified' License since lava isnt fukhead and opens her code so world can benefit from it.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
