<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<script type='application/x-javascript'>
  addEventListener('load', function() {
    setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar(){
    window.scrollTo(0,1);
  }
</script>

<!-- bootstrap -->
<link href='css/bootstrap.min.css' rel='stylesheet' type='text/css' media='all' />
<!-- //bootstrap -->
<link href='css/dashboard.css' rel='stylesheet'>

<!-- Custom Theme files -->
<link href='css/style.css' rel='stylesheet' type='text/css' media='all' />

<!--start-smoth-scrolling-->

<!-- fonts -->
<link href='css/OpenSans.css' rel='stylesheet' type='text/css'>
<link href='css/PoiretOne.css' rel='stylesheet' type='text/css'>
<!-- //fonts -->

<link href='css/w3.css' rel='stylesheet' type='text/css'>
