<div class='col-md-2 show-grid-right'>
  <h3>Little Activity</h3>
  <div class='show-right-grids'>
    <ul>
      <li>Added That Time I got Reincarnated as a Slime subbed</li>
    </ul>
    <ul>
      <li>Added 720p and 480p to A Good Librarian Like a Good Shepherd subbed</li>
    </ul>
    <ul>
      <li>Added optional bigfile support</li>
    </ul>
    <ul>
      <li>Added slices player on Zombieland Saga dubbed ep 1-6</li>
    </ul>
    <ul>
      <li>Added comments finally ^^</li>
    </ul>
    <ul>
      <li>Added Zombieland Saga dubbed</li>
    </ul>
    <ul>
      <li>Added 3D Kanojo Real Girl dubbed</li>
    </ul>
  </div>
</div>
<div class='clearfix'> </div>
