<nav class='navbar navbar-inverse navbar-fixed-top'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='index.html'><h1>eh anime ? <!--img src='images/logo.png' alt='' /--></h1><p>watch anime while being zerod</p></a>
    </div>
    <div id='navbar' class='navbar-collapse collapse'>
  <div class='top-search'>
    <form class='navbar-form navbar-right' action='search.html' method='get'>
      <input type='text' class='form-control' name='search' id='search' placeholder='Search...'>
      <input type='submit' value=' '>
    </form>
  </div>
  <div class='header-top-right'>
    <div class='clearfix'> </div>
  </div>
</nav>

<div class='main'>
  <div class='show-top-grids'>
    <div class='col-sm-10 show-grid-left main-grids'>
      <div class='recommended'>
        <div class='recommended-grids english-grid'>
          <div class='recommended-info'>
            <div class='heading'>
              <h3>Search</h3>
            </div>
            <div class='clearfix'> </div>
            <div id='high-page-counter'>
            </div>
          </div>
          <div id='insert-newest'>
          </div>
          <div class='clearfix'> </div>
        </div>
      </div>
    </div>
    <!-- newest.html conna be here -->
    <script exec='true'>
      page.loadHtml('rightSide', '.show-top-grids');
    </script>
  </div>
  <div id='low-page-counter'>
  </div>
  <br /><br />
  <!-- footer -->
  <script exec='true'>
    page.loadHtml('footer', '.main');
  </script>
  <!-- //footer -->
</div>
<div class='clearfix'> </div>
