
<nav class='navbar navbar-inverse navbar-fixed-top'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='index.html'><h1>eh anime ? <!--img src='images/logo.png' alt='' /--></h1><p>watch anime while being zerod</p></a>
    </div>
    <div id='navbar' class='navbar-collapse collapse'>
  <div class='top-search'>
    <form class='navbar-form navbar-right'>
      <input type='text' class='form-control' placeholder='Search...'>
      <input type='submit' value=' '>
    </form>
  </div>
  <div class='header-top-right'>
    <div class='clearfix'> </div>
  </div>
</nav>

<div class='main' name="main">
  <div class='show-top-grids'>
    <div class='col-sm-8 single-left'>
      <div class='source-buttons'>
        <ul>
          <li>video source: </li>
          <!-- source buttons go here -->
        </ul>
      </div>
      <div id='video-players'>
        <!-- video players gets entered here -->
      </div>
      <div class='clearfix'> </div>
      <div class='all-comments'>
        <div class='all-comments-info'>
          <div class='box'>
            <div class='all-comments-buttons'>
              <ul>
                <li><a href='#Select+user' id='select_user' class='top' onclick='return page.selectUser()'>Select user</a></li>
              </ul>
            </div>
            <textarea id='enter-message' placeholder='Message'></textarea>
            <input type='submit' onclick='javascript:page.addComment();' value='POST'>

            <div class='clearfix'> </div>
          </div>
          <div class='all-comments-buttons' name='comments'>
            <ul>
              <li><a href='#comments' onclick='javascript:page.loadAllComments();' class='top'>All Newest</a></li>
              <li><a href='#comments' onclick='javascript:page.loadMyComments();' class='top'>My Comments</a></li>
            </ul>
          </div>
        </div>
        <div class='media-grids'>
        <!-- comments will be here -->
        </div>
      </div>
    </div>
    <div class='col-md-4 single-right'>
      <h3>Episodes</h3>
      <div class='single-grid-right'>
        <div stlye='display: none;' id='hidden-image-container'></div>
      </div>
    </div>
    <div class='clearfix'> </div>
  </div>
  <!-- footer -->
  <script exec='true'>
    page.loadHtml('footer', '.main');
  </script>
  <!-- //footer -->
</div>
<div class='clearfix'> </div>
