#progressBar {
    height: 5px;
    width: 0%;
    background-color: #35b44f;
    transition: width .4s ease-in-out;
}
body.is-seed .show-seed {
    display: inline;
}
body.is-seed .show-leech {
    display: none;
}
.show-seed {
    display: none;
}
#status code {
    margin-left: 3px;
    margin-right: 3px;
    border-bottom: 1px dashed rgba(255,255,255,0.3);
}

.is-seed #hero {
    transition: .5s .5s background-color ease-in-out;
}

#stStatus, #status {
  padding-bottom: 4px;
}
